.hero {
  width: 100%;
  padding-top: 54px;

  &__main {
    width: 100%;
    overflow: hidden;
  }

  &__list {
    width: 1290px;
    height: 350px;
  }

  &__item {
    width: 100%;
    background-image: url('../../assets/images/hero-back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 21px;
    padding: 45px 86px 100px;
  }

  &__itembox {
    width: 1290px;
    transition: all 0.5s linear;
  }

  &__box {
    width: 337px;
  }

  &__title {
    font-family: 'Rotterburg Stylish FREE';
    font-style: normal;
    font-size: 61px;
    line-height: 67px;
    letter-spacing: 0.4px;
    color: #c9ac8c;
    margin-bottom: 10px;

  }

  &__btn {
    width: 57.39px;
    height: 3px;
    background-color: #ffffff99;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
  }

  &__activ {
    background-color: #fff;
  }

  &__one {
    transform: translateX(0);
  }

  &__two {
    transform: translateX(-1290px);
  }

  &__three {
    transform: translateX(-2580px);
  }

  &__four {
    transform: translateX(-3870px);
  }

}
